.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  border-bottom: 1px solid #eee;
  font-size:large;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  cursor: pointer;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu a {
  text-decoration: none;
  color: var(--dark);
  cursor: pointer;
}

.navbar .active {
  border-bottom: 2px solid var(--primary);
  color: var(--primary);
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar-right button {
  border: 1px solid var(--primary);
  border-radius: 50px;
  padding: 8px 20px;
  background: transparent;
  cursor: pointer;
}

/* Hamburger menu */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* Mobile menus  dropdown */
.mobile-menu {
  display: none;
  flex-direction: column;
  background: white;
  padding: 15px;
  border-top: 1px solid #eee;
}

.mobile-menu a {
  padding: 10px 0;
  text-decoration: none;
  color: var(--dark);
}

.mobile-actions {
  margin-top: 10px;
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (max-width: 750px) {
  .desktop-menu {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }
}

body {
  padding-top: 80px;
}